body {
  background-color: #F7F9FC;
  font-family: 'Lora', serif;
    font-size: 17px;
    font-weight: lighter;
    color: #575F7D;
}



h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #6B72E1;
    font-weight: 600;
    font-size: 16px;
}


.container {
  width: 80%;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card {
  text-align: center;
  padding: 32px 64px;
  margin: 16px;
  background-color: white;
  border-radius : 8px;
  box-shadow: 4px 4px 4px 4px rgba(200, 200, 200, .2);
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
}
 li ul {
   font-size: 64px;
 }

 .img-circle {
  border-radius: 50%;
  height:130px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.btn-rounded {
  background-color: #6B72E1;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}
.btn-rounded:hover {
  background-color: black;
}

.card > p {
    margin: 36px 0;
}

